{% extends 'its/main-template.html' %}

{% block content %}
    <style>
        body{
            background-color: white;
        }
    </style>
        <header id="main-header" class="text-white">
            <div class="container">
                <div class="mx-2 row">
                    <div class="col-md-6">
                        <a href="/" id="a"><h2><i class="fas fa-cog"></i> Dashboard</h2></a>
                    </div>
                </div>
            </div>
        </header>

    <div class="container dashboard-container">
        <div class="row">
            <div class="col-md-8 text-center justify-content-center">
                <div class="row">
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="inventory" class="custom-card" data-toggle="tooltip" data-placement="top" title="Access inventory database to (edit, add, etc.)">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 fa fa-database"></i></span>
                                <h2>Inventory</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="add" class="custom-card" data-toggle="tooltip" data-placement="top" title="Add an item to the inventory.">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 fa fa-plus-circle"></i></span>
                                <h2>Add</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="update" class="custom-card" data-toggle="tooltip" data-placement="top" title="Update the status of an item: (Active, Inactive, Not Working).">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 far fa-edit ml-4"></i></span>
                                <h2>Update Status</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="transfer" class="custom-card" data-toggle="tooltip" data-placement="top" title="Transfer an item in the inventory">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 fas fa-exchange-alt"></i></span>
                                <h2>Transfer</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="dispose" class="custom-card" data-toggle="tooltip" data-placement="top" title="Dispose an item from the inventory">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 fa fa-trash-alt"></i></span>
                                <h2>Dispose</h2>
                            </div>
                        </a>
                    </div>
                    {% if user.is_staff %}
                    <div class="col-md-4 col-sm-6 mt-4">
                        <a href="remove" class="custom-card" data-toggle="tooltip" data-placement="top" title="Remove an item from the inventory">
                            <div class="options card shadow pt-2">
                                <span><i class="display-2 fa fa-minus-circle"></i></span>
                                <h2>Remove</h2>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <div class="col-md-4 col-sm-6 mt-4">
                        <div class="card shadow pt-2" style="color: grey; background-color: rgba(0, 0, 0, 0.2); cursor: not-allowed;" data-toggle="tooltip" data-placement="top" title="Only Adminstrative users can remove ! Login with an Adminstrative account">
                            <span><i class="display-2 fa fa-minus-circle"></i></span>
                            <h2>Remove</h2>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 justify-content-center text-center">
                <div class="display-1 bg-primary mt-4 w-100"></div>
                <div class="display-1 bg-success mt-4 w-100">Graphs & Charts</div>
            </div>
        </div>
    </div>
    <div class="container"><br></div>
    <!-- Locate Modal
    <div class="modal fade text-dark" id="locate">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Locate an item...</h2><i class="fa fa-compass fa-2x fa-spin"></i>
                </div>
                <div class="modal-body">
                    <form class="input-group" type="get" action="/locate/">
                        <input type="text" class="form-control" name="search_box" id="search_box" placeholder="Search for an item..."> 
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary px-4" type="submit" id="search_submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div> -->
{% endblock %}