{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Tracking System</title>
    <!-- <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
        <nav class="navbar navbar-expand-md p-2">
            <div class="container">
                <a href="" class="navbar-brand"><img src="../../static/img/logo.png" width="50px" height="50px" alt="CARICOM Logo"><h4 class="d-inline p-0 pl-2 align-middle text-white">Inventory Tracking System</h4></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"><i class="fas fa-bars fa-lg" style="color: white;"></i></span></button>
    {% block content %}
    {% endblock %}
</body>
<footer class="text-light pt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center">Copyright &copy; 2018 Caribbean Community (CARICOM) Secretariat. All Rights Reserved • Developer: Hemroy Grant, Intern, IIS</p>
            </div>
        </div>
    </div>
</footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>

    <script>
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                        $('#addConfirm').modal('hide');
                    }
                    form.classList.add('was-validated');
                    }, false);
                });
                }, false);
            })();
            
            function set(element) {
                element.classList.toggle('selected');
                if (element.classList.contains('selected'))
                    element.name = 'item_selected';
                else
                    element.name = '';
            }

            $('#myTable tr').each(function(idx){
                $(this).children().first().html(idx + 1);
            });
        </script>
    <!-- <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/all.js"></script> -->
</body>
</html>