
body {
  background-color: lightgray;
  min-height: 660px; }

#a, #a:hover{
  color: white;
  text-decoration: none; }

.login_btn {
  background: #3842ad; }

.navbar {
  background-color: #007acc; }

.navbar_brd_btm {
  background-color: darkorange;
  height: 2px; }

.navbar-nav > li > a {
  margin-left: 1rem;
  color: white; }

.navbar-nav > li > a:hover {
  color: darkorange; }

.navbar-nav > li > .dropdown-menu > a:hover {
  background-color: darkorange; }

.actions {
  border-top: 2px solid #8289da; }

header {
  background-color: #3842ad; }

.login_card {
  background-color: #007acc;
  opacity: 0.9; }

.login_card .card-body {
  opacity: none; }

footer {
  margin-top: 136px;
  background-color: #3842ad; }

footer p {
  color: aqua; }

.dashboard-container {
  margin-top: 50px; }

.options {
  color: white;
  background: #007acc; }

.custom-card, .custom-card:hover {
  text-decoration: none;
  color: inherit; }

*[data-href] {
    cursor: pointer;}

td a {
    display: inline-block;
    min-height: 100%;
    width: 100%;
    padding: auto;}

#myTable a {
    text-decoration: none;
    color: black;}

td {
    padding: 0;}

#label:after { content:" *"; color: red;}